# **Practice Quiz**

## üìù **Coding Quiz for Module 1: Python Basics (Day 1-3)**  

### **Instructions**  
1. Solve the coding problems using Python.  
2. Use Jupyter Notebook, Google Colab, or any Python IDE to execute your code.  
3. Each problem tests your understanding of the concepts covered in the module.  

---

### **Section 1: Python Syntax and Data Types**  
#### 1. **Basic Syntax and Variables**  
- **Problem:** Write a program that takes a string input from the user and outputs the string in reverse order and in uppercase letters.  
- **Input Example:** `hello world`  
- **Output Example:** `DLROW OLLEH`

---

#### 2. **Data Type Conversion**  
- **Problem:** Write a program that accepts a floating-point number from the user, converts it to an integer, and displays both the original number and the integer value.  
- **Input Example:** `56.78`  
- **Output Example:**  
  ```
  Original number: 56.78  
  Integer value: 56
  ```

---

### **Section 2: Control Flow and Conditional Statements**  
#### 3. **If-Else Condition**  
- **Problem:** Write a program that takes a year as input and checks whether it is a leap year.  
- **Conditions for a Leap Year:**  
  1. Divisible by 4.  
  2. Not divisible by 100 unless divisible by 400.  
- **Input Example:** `2000`  
- **Output Example:** `2000 is a leap year.`

---

#### 4. **Nested If-Else**  
- **Problem:** Write a program to take a number as input and print whether it is:  
  - Positive  
  - Negative  
  - Zero  

---

#### 5. **Pattern Printing**  
- **Problem:** Write a program to generate the following triangle pattern using nested loops:  
  ```
  *  
  **  
  ***  
  ****  
  *****  
  ```

---

### **Section 3: Loops and Iterations**  
#### 6. **While Loop**  
- **Problem:** Write a Python program to find the sum of digits of a given number using a `while` loop.  
- **Input Example:** `12345`  
- **Output Example:** `15`  

---

#### 7. **For Loop with Range**  
- **Problem:** Write a program to calculate and print the factorial of a given number using a `for` loop.  
- **Input Example:** `5`  
- **Output Example:** `120`

---

### **Section 4: Functions and Modular Code**  
#### 8. **User-Defined Functions**  
- **Problem:** Create a function named `is_prime(n)` that returns `True` if `n` is a prime number and `False` otherwise.  
- **Input Example:** `7`  
- **Output Example:** `True`

---

#### 9. **Default Parameters**  
- **Problem:** Write a function `calculate_area(shape="circle", radius=0, length=0, breadth=0)` that calculates the area of:  
  - A circle if the shape is "circle".  
  - A rectangle if the shape is "rectangle".  
  - A square if the shape is "square".  
- **Input Example:**  
  ```
  calculate_area("circle", radius=7)  
  calculate_area("rectangle", length=5, breadth=10)
  ```  
- **Output Example:**  
  ```
  Area of circle: 153.86  
  Area of rectangle: 50  
  ```

---

### **Section 5: Strings and Lists**  
#### 10. **String Manipulation**  
- **Problem:** Write a program to count the number of vowels and consonants in a given string.  
- **Input Example:** `Python Programming`  
- **Output Example:**  
  ```
  Vowels: 4  
  Consonants: 13
  ```

---

#### 11. **List Operations**  
- **Problem:** Write a program to find the second largest number in a list without using the `max()` or `sorted()` function.  
- **Input Example:** `[5, 3, 9, 7, 2]`  
- **Output Example:** `7`

---

### **Section 6: Error Handling**  
#### 12. **Try-Except Block**  
- **Problem:** Write a program that asks the user to input a number. If the user enters a non-integer value, catch the exception and print `"Invalid input. Please enter a number."`  

---

## üìã **Practice Quiz Questions (MCQs)**  
1. Which of the following is NOT a valid variable name in Python?  
   a) my_var  
   b) 2var  
   c) myVar  
   d) _var  

2. What will be the output of the following code?  
   ```python
   for i in range(1, 5):  
       print(i * "*")  
   ```  
   a)  
   ```  
   *  
   **  
   ***  
   ****  
   ```  
   b)  
   ```  
   1  
   2  
   3  
   4  
   ```  

3. Which data type is mutable in Python?  
   a) String  
   b) Tuple  
   c) List  
   d) Integer  

4. What will the following code return?  
   ```python
   def test():  
       return "Hello", "World"  
   print(type(test()))  
   ```  
   a) `<class 'str'>`  
   b) `<class 'tuple'>`  
   c) `<class 'list'>`  
   d) `<class 'dict'>`  

5. What is the output of the following code?  
   ```python
   x = [1, 2, 3]  
   y = x  
   y[0] = 5  
   print(x)  
   ```  
   a) `[5, 2, 3]`  
   b) `[1, 2, 3]`  
   c) `Error`  
   d) `[5, 5, 5]`  

---

# **Solutions:**

#Question 1: Basic Syntax and Variables

# Write a program that takes a string input from the user and outputs the string in reverse order and in uppercase letters.
# Input Example: hello world
# Output Example: DLROW OLLEH

In [1]:
string_input = input("Enter a string: ")
print(string_input[::-1].upper())

Enter a string: hello world
DLROW OLLEH

# Question 2: Data Type Conversion
# Write a program that accepts a floating-point number from the user, converts it to an integer, and displays both.
# Input Example: 56.78
# Output Example: Original number: 56.78, Integer value: 56

In [2]:
float_input = float(input("Enter a floating-point number: "))
print(f"Original number: {float_input}, Integer value: {int(float_input)}")

Enter a floating-point number: 56.78
Original number: 56.78, Integer value: 56

## Section 2: Control Flow and Conditional Statements

# Question 3: If-Else Condition
# Write a program that takes a year as input and checks whether it is a leap year.
# Input Example: 2000
# Output Example: 2000 is a leap year.

In [3]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2000
2000 is a leap year.

# Question 4: Nested If-Else
# Write a program to take a number as input and print whether it is positive, negative, or zero.

In [4]:
number = int(input("Enter a number: "))
if number > 0:
    print("Positive")
elif number < 0:
    print("Negative")
else:
    print("Zero")

Enter a number: 18
Positive

# Question 5: Pattern Printing
# Write a program to generate the following triangle pattern using nested loops:

![Screenshot 2024-12-12 at 3.19.24‚ÄØPM.png]()

In [5]:
rows = 5
for i in range(1, rows + 1):
    print("*" * i)

*
**
***
****
*****

## Section 3: Loops and Iterations

# Question 6: While Loop
# Write a Python program to find the sum of digits of a given number using a `while` loop.
# Input Example: 12345
# Output Example: 15

In [6]:
num = int(input("Enter a number: "))
sum_of_digits = 0
while num > 0:
    sum_of_digits += num % 10
    num //= 10
print(f"Sum of digits: {sum_of_digits}")

Enter a number: 12345
Sum of digits: 15

# Question 7: For Loop with Range
# Write a program to calculate and print the factorial of a given number using a `for` loop.
# Input Example: 5
# Output Example: 120

In [7]:
factorial = 1
n = int(input("Enter a number: "))
for i in range(1, n + 1):
    factorial *= i
print(f"Factorial: {factorial}")

Enter a number: 5
Factorial: 120

## Section 4: Functions and Modular Code

# Question 8: User-Defined Functions
# Create a function named `is_prime(n)` that returns True if `n` is a prime number and False otherwise.

In [8]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

number = int(input("Enter a number: "))
print(f"Is {number} prime? {is_prime(number)}")

Enter a number: 11
Is 11 prime? True

# Question 9: Default Parameters
# Write a function `calculate_area` to calculate the area of a circle, rectangle, or square.

In [9]:
def calculate_area(shape="circle", radius=0, length=0, breadth=0):
    if shape == "circle":
        return 3.1416 * radius**2
    elif shape == "rectangle":
        return length * breadth
    elif shape == "square":
        return length**2

print("Circle Area:", calculate_area("circle", radius=7))
print("Rectangle Area:", calculate_area("rectangle", length=5, breadth=10))

Circle Area: 153.9384
Rectangle Area: 50

## Section 5: Strings and Lists

# Question 10: String Manipulation
# Write a program to count the number of vowels and consonants in a given string.

In [10]:
string = input("Enter a string: ").lower()
vowels = "aeiou"
vowel_count = sum(1 for char in string if char in vowels)
consonant_count = sum(1 for char in string if char.isalpha() and char not in vowels)
print(f"Vowels: {vowel_count}, Consonants: {consonant_count}")

Enter a string: hello
Vowels: 2, Consonants: 3

# Question 11: List Operations
# Write a program to find the second largest number in a list without using `max()` or `sorted()`.

In [11]:
nums = list(map(int, input("Enter numbers separated by spaces: ").split()))
first, second = float('-inf'), float('-inf')
for num in nums:
    if num > first:
        second = first
        first = num
    elif first > num > second:
        second = num
print(f"Second largest number: {second}")

Enter numbers separated by spaces: 2 4 7 3 9
Second largest number: 7